# Android Studio
*.iml
.idea/
!.idea/codeStyles/
!.idea/inspectionProfiles/

# Gradle Cache
.gradle/

# Local config
local.properties

# Build outputs
/build
**/build/

# Native build
.externalNativeBuild/
.cxx/

# Kotlin
.kotlin/

# Logs
*.log

# APK/AAB
*.apk
*.aab

# Firebase
app/google-services.json