*.iml
.gradle
/local.properties

.idea/caches
.idea/libraries
.idea/modules.xml
.idea/workspace.xml
.idea/navEditor.xml
.idea/assetWizardSettings.xml

.DS_Store

/build
**/build/

captures

/app/google-services.json

.externalNativeBuild
.cxx

# Kotlin
.kotlin

# Logs
*.log

# Generated
/generated

# APK
*.apk
*.aab

# Crashlytics
com_crashlytics_export_strings.xml